.header{
  width: 100%;
  background-color:#043873;
  color: #ffffff;
  padding:1em;
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items: center;
}
.wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  align-items:center;
  width: 90%;
  max-width:1920px;

}
.header .h1{

}
.header .a{}

.header .button{


  display: none;
  cursor: pointer;
}
.header .svg{
  width: 2em;
  height: 2em;
  fill: white;
}


.header .nav{

}
.header .ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content:flex-end;
  align-items: center;
  gap: 50px;
}
.header .li{
  margin: 0 0.5em;
  &:hover{
    color: #FFE492;
    transition: all .5s ease-in-out;
  }
}


.btnTablet {
  display: none;
}

.btn{
  display: flex;
  gap: 50px;

  .-amarelo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    background: #FFE492;
    color: #043873;
    border-radius: 8px;
    cursor: pointer;
    &:hover{
      background: #4F9CF9;
      color: #FFFFFF;
      transition: all .5s ease-in-out;
    }
  }
  .-azul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    width: 227px;
    color: #FFFFFF;
    border-radius: 8px;
    background-color: var(--blue-2);
    cursor: pointer;
    &::after{
      content: url("../assets/img/Group\ 212.png");    
      display: block;
      margin-left:1em;
    }
    &:hover:after {
      transform:  translate(5px, 0%);
      transition: all 0.5s ease-in-out;
    }
    &:hover{
      background: #FFE492;
      color: #043873;
      transition: all .5s ease-in-out;
    }
  }
}

.btnTablet {
    display: none;

}


@media screen and (max-width:1152px){
  .wrapper{
    justify-content:space-between !important;
    align-items:center;
  }
  .header .button{
  
    display: block;
  }
  .header .nav{/*quando o botão não estiver ativo */
    width: 100%;
   /* display: none;*/
   overflow: hidden;
   pointer-events: none;/*para não ter efeito no mouse*/
   height: 0vh;
   transition: all .5s ease-in-out;


   display:flex;
   flex-flow: column nowrap;
   justify-content:center;
   align-items: center;
  }
  .header .nav.activo{/*quando o botão estiver ativo */
    /*para suavizar o efeito apenas retirei a altura e depois adicionei com um transition */
    /*display: block;*/
    height: 90vh;
    pointer-events: auto;
  }
  .header .ul{
    flex-direction: column;
  }
  .header .li{
    margin: 1em 0;
  }
  .btn{
    display: flex;
    flex-direction: column;
  }
  .btnTablet {
    display: none !important;

}
}
@media screen and (max-width:1400px ){
  .wrapper{
    justify-content:center;
    align-items:center;
  }
  .header .button{
    display: block;
  }
  .header .nav{/*quando o botão não estiver ativo */
    width: 100%;
   /* display: none;*/
   overflow: hidden;
   pointer-events: none;/*para não ter efeito no mouse*/
   height: 0vh;
   transition: all .5s ease-in-out;
   display:flex;
   flex-flow: column nowrap;
   justify-content:center;
   align-items: center;
  }
  .header .nav.activo{/*quando o botão estiver ativo */
    /*para suavizar o efeito apenas retirei a altura e depois adicionei com um transition */
    /*display: block;*/
    height: 90vh;
    pointer-events: auto;
  }
  .header .ul{
    flex-direction: column;
  }
  .header .li{
    margin: 1em 0;
  }
  .btnTablet {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content:flex-end;
    gap: 20px;
    padding-inline:1em;
    .-amarelo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    background: #FFE492;
    color: #043873;
    border-radius: 8px;
    cursor: pointer;
    &:hover{
      background: #4F9CF9;
      color: #FFFFFF;
      transition: all .5s ease-in-out;
    }
  }
  .-Azul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    width: 227px;
    background: #4F9CF9;
    color: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    &::after{
      content: "";
      display: block;

      background: #FFE492;
    }
    &:hover{
      background: #FFE492;
      color: #043873;
      transition: all .5s ease-in-out;
    }
  }
  }
}

.-azul {
  &::after{
  content: url("../assets/img/Group\ 212.png");    
  display: block;
  margin-left:1em;
}
&:hover:after {
  transform:  translate(5px, 0%);
  transition: all 0.5s ease-in-out;
}
}